.p-fade-img {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  &.is-active {
    opacity: 1;
    img {
      transform: scale(1);
    }
  }
  img {
    transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transform: scale(1.4);
    transform-origin: center;
  }
}
