extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.text_animation

block contentFixedBefore

block contentStatic

  main.l-main.l-main--v1
    .l-contents-in
      section
        h2.c-title-md
          |テキストを1文字づつ表示（改行可能）
        p.u-mt-40.u-mt-sp-20.p-text-animation.js-text-animation
          |晩は東の拍手ゴーシュ汁がセロを出し川ましだ。
          br
          |するととてもだめたたというこどもたまし。大丈夫ましましんましもたまた椅子の無理汁のなかをもぱちぱち生意気たたて、そこまで扉があるきれ気たた。
          br
          |し過ぎぼくはふくが悪いましちゃ前の音楽の大物みちを思っ第一ゴーシュ顔のぼんやりに出すてくださいなた。クラリネットも一生けん命やめてしまいまし。
          br
          |口も一出るセロのようにわらいていた。楽長も小太鼓音やそこへ云ってもらっん。血はどなりがこうに見て晩が赤のようをありとセロがこわれてじつにすきをなっていた。むしゃくしゃむっと狩りに窓をなさいたです。
          br
          |そこ思わずにゴーシュがむしっながらあかしからやめなまし。
      section.u-mt-100.u-mt-sp-60
        h2.c-title-md
          |カーテーンアニメーション
        p.p-text-animation-curtain.js-text-animation-curtain.u-fz-38.u-fz-sp-20.u-fw-bold.u-ta-c.u-mt-40.u-mt-sp-20
          span.p-text-animation-curtain__text
            |タイトルが入ります。タイトルが入ります。
          span.p-text-animation-curtain__rect



block contentFixedAfter