extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.parallax_img

block contentFixedBefore

block contentStatic

  p.u-fz-24.u-fz-sp-18.u-ta-c.u-fw-bold.u-mt-40.u-mt-sp-20
    |スクロールしてください
  main.l-main.l-main--v1
    .l-contents-in
      figure.p-parallax-img.js-parallax-img
        img(src=`${page.path}assets/images/parallax-img/img01.jpg` alt=`` decoding=`async`)
      figure.p-parallax-img.js-parallax-img.u-mt-100.u-mt-sp-40
        img(src=`${page.path}assets/images/parallax-img/img02.jpg` alt=`` decoding=`async`)



block contentFixedAfter